<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.min.js"></script>

    <!-- vue-resource 依赖于 Vue 有个先后的顺序  this.$http.get -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <!-- 这个包才能一样 -->
    <link rel="stylesheet" href="./lib/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    <!-- 这个是个最新的包 -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body>

    <div id="app">






        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加</h3>
            </div>
            <div class="panel-body form-inline">


                <label>
                    Name:
                    <input type="text" v-model="name" class="form-control">

                </label>

                <input type="button" value="添加" @click="add" class="btn btn-primary">


            </div>
        </div>


        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <!-- 点击这两个删除的区别 -->
                        <a href="" @click.prevent="del">删除</a>
                        <a href="">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

    <script>
        // 全局配置地址  
        // 如果配置了请求的数据接口根域名，在每次单独发起http的时候，也因该是相对路径开头，不能带斜线，否则不会启用根路径拼接


        Vue.http.options.root = "http://shiming"
        //全局启用这个配置
        Vue.http.options.emulateJSON = true;



        var vm = new Vue({
            el: "#app",
            data: {

                name: "",
                list: [
                    { id: 1, name: "宝马", ctime: new Date() },
                    { id: 2, name: "奔驰", ctime: new Date() }
                ]
            },
            methods: {
                // post
                // {emulateJSON:true} 以普通表单格式，将数据提交给服务器 application/x-www-form-urlencoded
                add() {
                    this.$http.post("", { name: this.name }, { emulateJSON: true }).then(result => {
                        if (result.body.status === 0) {
                            //    成功了在获取数据
                            this.getAllList()
                            // 清空输入框
                            this.name = ""

                        } else {

                        }
                    })
                },
                // get
                getAllList() {
                    console.log("方法请求了 getAllList")
                    // 如果配置了请求的数据接口根域名，在每次单独发起http的时候，也因该是相对路径开头，不能带斜线，否则不会启用根路径拼接
                    this.$http.get("api/getprodlist", { headers: { 'Access-Control-Allow-Origin': '*' } }).then(result => {

                        if (result.status === 0) {

                        } else {
                            alert("请求失败");
                            console.log(result)
                        }
                    }, response => {
                        // error callback
                        alert("请求失败");
                        console.log("原因：：：" + response)
                    }
                    )
                },

                del() {

                }
            },
            created() {
                console.log("方法请求了 created")
                this.getAllList()
            }
        }
        )

    </script>

</body>

</html>